img {
  width: 50px;
}
#face {
  width: 300px;
  z-index: 0;
}

#eyes1 {
	top: 150px;
	position: absolute;
	left: 140px;
	z-index: 1;
}

#hat {
	position: absolute;
	top: 20px;
	left: 120px;
	width: 100px;
	z-index: 3;
}

#mouth1 {
	position: absolute;
	top: 240px;
	left: 140px;
}

#hair1 {
	position: absolute;
	top: 10px;
	width: 190px;
	z-index: 2;
	left: 65px;
}

#ears1 {
	position: absolute;
	top: 80px;
	width: 260px;
	left: 22px;
	z-index: 4;
}

#nose2 {
	position: absolute;
	top: 170px;
	left: 140px;
}